*{
padding: 0;
margin: 0;

}
body{
	background: #D9D9D9;
	 background-image: url("../images/back.jpg");
background-size: cover;
	color: #1E3A2A;
	font-family: "Robot", Gadget, sans-serif;}


#myCanvas {
     margin : 0 auto;
     display : block;  
     cursor: none; 
     margin-bottom: 20px;

        }
.name{
	
text-align: center;
	color: white;
	font-size: 30px;
	margin: 0 auto;
	border: 2px solid #4483CE;
	background-color: #4483CE;
	border-radius: 25px;
	width: 500px;
	margin-top: 80px;
    margin-bottom: 10px; 
	
}
.inp{text-align: center;
	color: white;
	font-size: 30px;
	margin: 0 auto;
	border: 2px solid #4483CE;
	background-color: #4483CE;
	border-radius: 25px;
	width: 500px;
	padding: 5px;
	
    margin-bottom: 150px; }
    
.choose{text-align: center;
	color: white;
	font-size: 40px;
	margin: 0 auto;
	border: 2px solid #4483CE;
	background-color: #4483CE;
	border-radius: 25px;
	width: 700px;
	margin-top: 100px;
    margin-bottom: 10px; }

    input{
		height: 22px;
		width: 22px;
	}
	input[type="radio"]:checked+label{ font-weight: bold; color: black; } 

   label+input{
   	margin-left: 15px;
   }

    .btn{
    	text-align: center;
    	margin: 0 auto;}	
	
	button{ background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;}

